<body>
    <script src="~/js/site_reg.js" asp-append-version="true"></script>
    <div id="Registr">
    <form method="post" id="registr_1">
        <div>
            <p>
                <label>Имя</label>
            </p>
            <p>
                <input type="text" name="Name" />
                <label id="N" >@ViewBag.N</label>
                <label id="A">@ViewBag.A</label>
                <label id="Y">@ViewBag.Y</label>
            </p>
            <p>
                <label>Фамилия</label>
            </p>
             <p>
                <input type="text" name="Mileage" />
            </p>
            <p>
               <label for="date">Дата рождения: </label>
            </p>
             <p>
               <input type="date" id="date" name="date"/>
            </p>
            
            <hr/>
        
            <p>
                <label for="phone">Телефон: </label>
            </p>
             <p>
                 <label id="seven">+7</label>
               <input type="tel" placeholder="(XXX)-XXX-XXXX" maxlength="10" id="phone" name="phone"/>
            </p>
            <div class="password">
                <p>
	            <input type="password" id="password-input" placeholder="Введите пароль" name="password">
                </p></div>
                <p>
                <label><input type="checkbox" class="password-checkbox">Показать пароль</label>
                </p>
                <p>
                <input type="submit" name="dannie" />
                </p>
            @*<p>
                <label>Find Year:</label>
            </p>
             <p>
                <input type="text" name="fy" />
                <input type="submit" name="car3"/>
            </p>*@
            <style>
      
      
    </style>
 

    <div id="zatemnenie">
      <div id="okno">
        Всплывающее окошко!<br>
        <a href="#" class="close">Закрыть окно</a>
      </div>
    </div>
     
    <a href="#zatemnenie">Вызвать всплывающее окно</a>
        </div>

    </form>
</div>
</body>