<body>
    <script src="~/js/site_reg.js" asp-append-version="true"></script>
    <div id="Registr">
    <form method="post" id="registr_1">
        <div>
          
            
        
            <p>
                <label for="phone">Телефон: </label>
            </p>
             <p>
                 <label id="seven">+7</label>
               <input type="tel" placeholder="(XXX)-XXX-XXXX" maxlength="10" id="phone" name="phone"/>
            </p>

            <hr/>
            <div class="password">
                <p>
	            <input type="password" id="password-input" placeholder="Введите пароль" name="password">
                </p></div>
                <p>
                <label><input type="checkbox" class="password-checkbox">Показать пароль</label>
                </p>
                <p>
                <input type="submit" name="dannie" />
                </p>
           
           

    <div id="zatemnenie">
      <div id="okno"><a id="aut">
        Регистрация</a><br>
         <a>
                <label>Фамилия</label>
            </a>
             <p>
                <input type="text" name="Mileage" />
            </p>
            <a>
               <label for="date">Дата рождения: </label>
            </a>
             <p>
               <input type="date" id="date" name="date"/>
            </p>
            
            <hr/>
        
            <a>
                <label for="phone">Телефон: </label>
            </a>
             <p>
                 <label id="seven">+7</label>
               <input type="tel" placeholder="(XXX)-XXX-XXXX" maxlength="10" id="phone" name="phone"/>
            </p>
            <div class="password">
                <p>
	            <input type="password" id="password-input" placeholder="Введите пароль" name="password">
                </p></div>
                <p>
                <label><input type="checkbox" class="password-checkbox"><a>Показать пароль</a></label>
                </p>
                <p>
                <input type="submit" name="dannie" />
                </p>
        <a href="#" class="close">Закрыть окно</a>
      </div>
    </div>
     
    <a href="#zatemnenie">Регистрация</a>
        </div>

    </form>
</div>
</body>